<div class="core"
     style="background-image: url(https://images.unsplash.com/photo-1530046339160-ce3e530c7d2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
  <div class="content">
    <div class="title">
      <h3 class="d-flex justify-content-center">HH TRUCKS</h2>
      <h1 class="d-flex justify-content-center">Trucks & utilities</h1>
      <p class="d-flex justify-content-center">Algemene mechanica | Diagnostiek | Elektriciteit | Versnellingsbag </p>
      <p class="d-flex justify-content-center">Mécanique générale | Diagnostique | Electricité | Boite à vitesse</p>
    </div>

    <h3 class="d-flex justify-content-center">Gerselarendries, 34 - 1850 Grimbergen</h3>
    <p class="d-flex justify-content-center">Verbande Brug - Cargovil & Pont Brûlé</p>
    <p class="d-flex justify-content-center">0485 57 59 95</p>

    <p class="d-flex justify-content-center">info@hhtrucks.be</p>
  </div>
</div>
